<div id="page_container">
  <div id="box">
<% image_tag('middleflow.png') %> 
    <div id="stats">
      <span id="stats_text">
        <span class="red_text">NEW ALERTS </span> 
        <span class="number"> 3 </span> DEV MATCHES 
        <span class="number"> 5 </span> PROJECT MATCHES
        <span class="number"> 20 </span> FOLLOWS 
      </span>
      <span class="user_thumb"><img src="<%= @hacker.image_url %>" width="75px"/></span>
    </div>
    <p><div class="feed_separator"></div><span class="feeding_frenzy">who you follow</span></p>
    <div class="who_you_follow">
      <% @hackers.first(1).each do |hacker| %>
        <ul class="unstyled">
          <% hacker.followings.each do |guy, idx| %>
            <li>
            <a href="<%= guy.url %>">
              <img src="<%= guy.avatar_url %>" width="50px"/>
              <p class="hacker_description"><%= link_to guy.login, guy.url %><br />
              New York, NY</p>
            </a>
            <%= idx %>
            </li>
            <br />
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
